<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Tech News</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <nav class="navSection">
        <h1>
          <a href="/"> Home</a>
        </h1>
        <h1>
          <a href="/"> Dashboard </a>
        </h1>
        <h1>
          <a href="/"> Logout </a>
        </h1>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

</body>

</html>